@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
</head>
<body>

    <h2><a href='@Url.Action("SelectIndumentaria")' alt = "Crear Indumentaria">Crear Indumentaria</a></h2>

    @foreach (int key in ViewBag.DicIndumentaria.Keys)
    {
        <div>
            <h5>@ViewBag.ListaEquipos[key]</h5>
            <img src = '/img_remeras/@ViewBag.ListaRemeras[key]' alt= "Remera" width="150px" height="150px">
            <img src = '/img_pantalones/@ViewBag.ListaPantalones[key]' alt= "Pantalon" width="150px" height="150px">
            <img src = '/img_medias/@ViewBag.ListaMedias[key]' alt= "Medias" width="150px" height="150px">        
        </div>
    }

</body>
</html>


