@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
</head>
<body>

    <h2><a href='@Url.Action("SelectIndumentaria")' alt = "Crear Indumentaria">Crear Indumentaria</a></h2>

    @foreach (int key in ViewBag.DicIndumentaria)
    {
        <div>
            <h5>@ViewBag.ListaEquipos[key]</h5>
            <img src = 'img_medias/@ViewBag.ListaMedias[0]' alt= "Medias">
            <img src = 'img_medias/@ViewBag.ListaPantalones[0]' alt= "Pantalon">
            <img src = 'img_medias/@ViewBag.ListaRemeras[0]' alt= "Remera">
        </div>
    }

</body>
</html>


