@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar indumentaria</title>
</head>
<body>
    <form method="post" action= '@Url.Action("GuardarIndumentaria")'>
        @foreach (string e in ViewBag.ListaEquipos)
        {
            <h4>@e</h4>
        }
        <br><br>
        <input type = "number" max="10" min="1" step="1" name="Equipo" required/><br/>
        @foreach (string item in ViewBag.ListaRemeras)
        {
            <img src = '/img_remeras/@item' alt= "Remera" width="150px" height="150px">
        }
        <input type = "number" max="10" min="1" step="1" name="Remera"  required/><br/>
        <br><br>
        @foreach (string item in ViewBag.ListaPantalones)
        {
            <img src = '/img_pantalones/@item' alt= "Pantalones" width="150px" height="150px">
        }
        <input type = "number" max="10" min="1" step="1" name="Pantalon" required/><br/>
        <br><br>
        @foreach (string item in ViewBag.ListaMedias)
        {
            <img src = '/img_medias/@item' alt= "Medias" width="150px" height="150px">
        }
        <input type = "number" max="10" min="1" step="1" name="Media" required/><br/>
        <br>
        <input type = "submit" value = "Enviar Datos">
        <br><br><br>
    </form>
</body>
</html>